{:deps true

 :nrepl {:middleware [cider.nrepl/cider-middleware
                      refactor-nrepl.middleware/wrap-refactor]
         :port 9700}

 :dev-http {8081 "assets"}

 :builds
 {:main
  {:target :browser
   :asset-path "/js/generated"
   :output-dir "build/dev/generated"
   :js-options {:js-package-dirs ["./node_modules"]}

   :devtools {:after-load world.core/init
              :preloads [devtools.preload
                         world.preload
                         day8.re-frame-10x.preload.react-18]}

   :compiler-options {:source-map true
                      :source-map-detail-level :all}

   :modules {:main {:init-fn world.core/init}}}}}
